# _ ________________ ________________ ________________ _
#|_|________________|________________|________________|_|
#| |   _____  ______  _       _    _ __   __ ______   | |
#| |  |  __ \|  ___ \| |     | |  | |\ \ / /|  ___ \  | |
#|_|  | |  | | |__ \/| |     | |  | | \ V / | |__ \/  |_|
#| |  | |  | |  __|  | |     | |  | |  > <  |  __     | |
#| |  | |__| | |___/\| |___/\| |__| | / . \ | |___/\  | |
#|_|  |_____/|______/|______/\______//_/ \_\\______/  |_|
#| |                                                  | |
#| |           DeluxeBazaar - SedatTR#8666            | |
#|_|________________ ________________ ________________|_|
#|_|________________|________________|________________|_|
# If you have any question or suggestion please contact to me.
# If you are using this plugin, you are accepting Terms of Use.
#
# Discord Account: SedatTR#8666
# Discord Server: https://discord.gg/nchk86TKMT
# Plugin Wiki: https://sedattr.gitbook.io/deluxebazaar

# PLUGIN SETTINGS
settings:
  menu_item_flags:
    - HIDE_ENCHANTS
  default_category: "mining" # Default category that is selected when opening /bz menu
  default_mode: "direct" # Default bazaar mode when opening /bz menu, types: direct, advanced
  sell_normal_items: true # Should players still be able to sell normal items that are not bought from bazaar?
  maximum_item_amount: 2304 # Maximum item amount for custom buy & sell amount. 2304 is equivalent to a full inventory of stacks of 64
  maximum_buy_order_amount: 8 # Maximum buy order amount per player with default permissions
  maximum_sell_offer_amount: 8 # Maximum sell offer amount per player wioth default permissions
  go_back_when_bought: false # When player bought an item, plugin will open item's menu to player
  go_back_when_sold: false # When player sold an item, plugin will open item's menu to player
  enable_orders: true # Enable or disable order system
  enable_sell_all: true # Enable or disable sell all system
  enable_sell_items: true # Enable or disable sell items system
  input_type: "sign" # Default input, types: sign, anvil or chat
  chat_input_time: 10 # for reply time, if no valid input is given within this time, the plugin will cancel the action
  enable_log: true # enable or disable internal loggin system, useful for finding exploits and bugs
  disable_price_lore: true # if you enable this setting, plugin will remove buy/sell price if buy/sell is disabled.
  open_menu_directly: false # /bazaar command will open menu directly if enabled.

# PLUGIN ECONOMY
economy:
  type: "vault" # Types: vault, royaleeconomy_balance, royaleeconomy_bank, lands, tokenmanager, playerpoints, yaml, ultraeconomy, edprison
  coinsengine_settings:
    currency_name: "coins"
  edprison_settings:
    currency_name: "tokens"
  yaml_settings: # For yaml economy, ignore if you use any of the other economy-types
    folder_name: "plugins/YAMLEconomy/players" # economy folder that includes players' balance files
    file_name: "%player_uuid%.yml" # player's balance file name in folder (placeholders: %uuid% & %player%)
    # player's balance in file
    # example (you can put . for line)
    # balance:
    #   total: 100
    node_text: "balance.total"
  ultraeconomy_settings:
    currency_name: "gold"

# PLUGIN DATABASE
database:
  type: "yaml" # Types: mysql, sqlite, yaml
  auto_save:
    player_orders: false # When player orders are changed, should plugin save directly?
    item_orders: false # When item orders are changed, should plugin save directly?
    item_prices: false # When item prices are changed, should plugin save directly?
  mysql_settings: # For mysql dataabase
    link: "com.mysql.jdbc.Driver" # new version: com.mysql.cj.jdbc.Driver
    url: "jdbc:mysql://localhost:1907/Bazaar" # jdbc:mysql://host:port/database
    user: "SedatTR" # MySQL Database-username
    password: "DeluxeBazaar" # MySQL Database-password

# PLUGIN ADDONS
addons:
  head_database: true # Set to true if some of your items in the bazaar use the HeadDatabase plugin
  placeholder_api: true # Set to true if you want to integrate/use placeholders for the Bazaar
  eco_items: true # Set to true if you want to use EcoItems items in the Bazaar
  mmo_items: true # Set to true if you want to use MMOItems items in the Bazaar
  executable_items: true # Set to true if you want to use ExecutableItems items in the Bazaar
  discord: # Enable this to use the discord webhook system for sending useful messages about recent purchases
    enabled: false
    webhook_url: "" # Discord webhook url
    bought_item:
      enabled: true
      message: ":small_blue_diamond:__%player_name%__ bought **%total_amount%x %item_name%** for **%total_price% coins** on the bazaar!"
    sold_item:
      enabled: true
      message: ":small_orange_diamond:__%player_name%__ sold **%total_amount%x %item_name%** for **%total_price% coins** on the bazaar!"
    sold_all_items:
      enabled: true
      sold_item: "**%item_amount%x %item_name%** (%item_price% coins)"
      message: ":small_orange_diamond:__%player_name%__ sold %items% for total **%total_price% coins** on the bazaar!"
    setup_buy_order:
      enabled: true
      message: ":small_blue_diamond:__%player_name%__ setup **%total_amount%x %item_name%** buy order for **%total_price% coins** on the bazaar!"
    setup_sell_offer:
      enabled: true
      message: ":small_orange_diamond:__%player_name%__ setup **%total_amount%x %item_name%** sell offer for **%total_price% coins** on the bazaar!"

# COMMAND PERMISSIONS
permissions:
  item:
    enabled: false
    permission: "deluxebazaar.item.%item_name%"
    item_list:
      - KING_SWORD
  category:
    enabled: false
    permission: "deluxebazaar.category.%category_name%"
    category_list:
      - other
  search:
    enabled: false
    permission: "deluxebazaar.search"
  player_commands:
    command: ""
    menu: ""
    buy: "bazaar.buy"
    sell: "bazaar.sell"
    sell_all: "bazaar.sellall"
  admin_commands:
    command: "bazaaradmin.command"
    menu: "bazaaradmin.menu"
    buy: "bazaaradmin.buy"
    sell: "bazaaradmin.sell"
    sell_all: "bazaaradmin.sell_all"
    create_item: "bazaaradmin.create_item"
    reload: "bazaaradmin.reload"

# Number format settings
number_format:
  enabled: true # Enable or disable number formatting
  type: "decimal" # Number format type, types: decimal, short
  decimal_settings: # Example: 10.2
    minimum_fraction: 0
    maximum_fraction: 2
    remove_decimal: true
  short_settings: # Examples: 10k, 25M, 1T
    thousand: "k"
    million: "M"
    billion: "G"
    trillion: "T"
    quadrillion: "Q"
    quintillion: "E"

# MENU SOUNDS
sounds:
  inventory_item_click: # When player clicks an item in his own inventory to select for the bazaar, the plugin will play this sound.
    enabled: false
    name: "CLICK"
    volume: 1
    pitch: 2
  bazaar_item_click: # When player clicks to bazaar item in bazaar menu, the plugin will play this sound.
    enabled: false
    name: "CLICK"
    volume: 1
    pitch: 2
  category_item_click: # When the player clicks the bazaar category-item, the plugin will play this sound.
    enabled: false
    name: "CLICK"
    volume: 1
    pitch: 1.5
  mode_item_click: # When player switches modes in the bazaar menu, the plugin will play this sound.
    enabled: false
    name: "CLICK"
    volume: 1
    pitch: 1
  bought_item: # When player buys an item, the plugin will play this sound.
    enabled: false
    name: "ORB_PICKUP"
    volume: 1
    pitch: 0.6
  sold_item: # When player sold an item, plugin will play this sound.
    enabled: false
    name: "ORB_PICKUP"
    volume: 1
    pitch: 0.6

# DEFAULT MENU ITEMS
default_items:
  glass: # Menu glasses, representing the frame of the GUI
    material: BLACK_STAINED_GLASS_PANE
    data: 15
    name: "&r"
  close: # Close item
    material: BARRIER
    data: 0
    name: "&cClose Menu"
    lore:
      - "&7Click to close menu!"
  go_back: # Go back item
    material: ARROW
    data: 0
    name: "&eGo Back"
    lore:
      - "&7Click to go back to previous menu!"

# ITEM DETECTION SYSTEM
# In order to detect the items when you want to sell/buy them, the plugin can check for various methods.
# You can enable/disable each detection type in here to fit your needs.
item_name_detection:
  same_item: true # # Should the player's items be exactly the same as the bazaar items? This includes item display name, item lore and item material.
  name: # Item display name (&6King's Sword...).
    enabled: true
    type: "colored" # Types are: 'clean' or 'colored' (clean: King's Sword, colored: &6King's Sword...)
  # Item bazaar nbt (BazaarITEM) When the Bazaar generates an Item, it adds a specific NBT-tag.
  # This means, only items from the bazaar can be sold to it again.
  # To disable this, ensure to add the "disableNBT: true" tag to your item in the items.yml file and disable this
  nbt: true
  type: true # Item type (COBBLESTONE, STONE...)
  data: true # Item data for legacy versions (95:14, 95:15...)
  model_data: true # Item model data (150, 169...)
  durability: true # Item durability (1230, 6931...)
  custom_items: # Custom items settings
    model_data: # For items with custom model data
      10: KING_SWORD
    durability: # For items with custom durability (Legacy versions)
      1000: KING_SWORD
  # Normal items settings (For items that have same material name)
  # Formats:
  # MATERIAL_NAME-ITEM_DATA: BAZAAR_ITEM_NAME (Like INK_SACK-4: LAPIS_LAZULI)
  # MATERIAL_NAME: BAZAAR_ITEM_NAME (Like LOG: OAK_LOG)
  # ITEM_DISPLAYNAME: BAZAAR_ITEM_NAME (Like King's Sword: KING_SWORD or &6King's Sword: KING_SWORD)
  normal_items:
    INK_SACK-0: INK
    INK_SACK-4: LAPIS_LAZULI
    INK_SACK-3: COCOA
    LOG-0: OAK_LOG
    LOG-1: SPRUCE_LOG
    LOG-2: BIRCH_LOG
    LOG-3: JUNGLE_LOG
    LOG_2-0: ACACIA_LOG
    LOG_2-1: DARK_OAK_LOG
    RAW_FISH-0: RAW_FISH
    RAW_FISH-1: SALMON
    RAW_FISH-2: CLOWNFISH
    RAW_FISH-3: PUFFERFISH
    NETHER_STALK-0: NETHER_WART
    NETHER_WARTS-0: NETHER_WART
    NETHER_WART-0: NETHER_WART
    SUGAR_CANE_BLOCK-0: SUGAR_CANE
    SUGAR_CANE-0: SUGAR_CANE
    CROPS-0: WHEAT

# BUY ORDER SETTINGS
buy_order:
  limit_price_change: true # When enabled, the price of a given item cannot change more than by a certain % each price-update cycle. Set to false to disable limitation-system entirely
  maximum_price_change: 10.0 # Factor in % relative to current-price an item can change each price-update cycle
  maximum_item_amount: 1600 # How many items can players with the default permissions buy per buy-order.
  maximum_order_amount: 10 # How many buy-orders a player with default permissions can have simultaneously
  required_order_amount: 1 # The minimum amount of items a player must buy per buy-order. Set to minimum 1 but feel free to increase if wanted.
  refresh_orders_when_created: false # Update the global listings of buy-orders every time an order is created. Setting to false will mean it will only appear once every price-update cycle

# SELL OFFER SETTINGS
sell_offer:
  limit_price_change: true # When enabled, the price of a given item cannot change more than by a certain % each price-update cycle. Set to false to disable limitation-system entirely
#  maximum_price_change: 10.0 # Factor in % relative to current-price an item can change each price-update cycle
  maximum_item_amount: 1600 # How many items can players with the default permissions sell per sell-order.
  maximum_offer_amount: 10 # How many sell-orders a player with default permissions can have simultaneously
  required_offer_amount: 1 # The minimum amount of items a player must buy per buy-order. Set to minimum 1 but feel free to increase if wanted.
  refresh_offers_when_created: false # Update the global listings of sell-orders every time an order is created. Setting to false will mean it will only appear once every price-update cycle

# ITEM STOCK SYSTEM
# With this system, you can limit buy & sell amounts for items.
item_stock_system:
  enabled: false # true = items will have stock, false = unlimited buy & sell
  # list of items that will have the stock system,
  # or you can easily add category's all items (you need to change setting name to category name)
  # BAZAAR_ITEM_NAME:
  #   only_orders: true/false
  #  default_stock: 100 # write 0 to disable
  #  max_stock: 1000 # write 0 to disable
  # when you enable only_orders setting, item's buy/sell stocks will only change with orders.
  #
  # but when you disable only_orders setting, item's buy/sell stocks will change with orders & buy/sell amounts.
  # example: if item's sell amount is 64 and item's buy amount is 0, buy stock amount will be 64.
  item_list:
    EXAMPLE_BAZAAR_ITEM_NAME:
      only_orders: false
      default_stock: 100 # write 0 to disable
      max_stock: 1000 # write 0 to disable
    EXAMPLE_BAZAAR_CATEGORY_NAME: # this will change all items (item's own settings have a higher priority)
      only_orders: false
      default_stock: 100 # write 0 to disable
      max_stock: 1000 # write 0 to disable

# SUPPLY AND DEMAND SYSTEM
# With this system, you can edit item price change formulas
item_price_changing:
  enabled: true # true = change prices depending on supply/demand, false = prices remain the same regardless of supply/demand
  time: 60 # Set to 0 to disable formulas. This value describes how often the prices on the market will adjust based on the amount of buy & sell orders.
  price_gap: 2.0
  # Available Placeholders: %default_buy_price%, %default_sell_price%, %item_buy_price%, %item_sell_price%
  refresh:
    enabled: true
    time: 60
    buy_formula: "%default_buy_price% / 5"
    sell_formula: "%default_sell_price% / 10"
  # Available Placeholders: %item_buy_price%, %item_sell_price%, %item_buy_amount%, %item_sell_amount%
  sell_price:
    formula: "%item_sell_price% * (0.01 * (%item_sell_amount% / 100) + 1) - %item_sell_price%" # New sell price formula -> This variation leads to a decrease in value, the more items are sold.
    minimum_sell_amount: 1
    high_supply: # If: current sell count > old sell count then the price will be adjusted relative to the old buy price by maximum_price_change value in %
      enabled: true
      type: "decrease" # Types: increase, set, decrease
      maximum_price_change: 2.5 # Item's buy price can be decreased by maximum 5.0 coins with formula
    high_demand: # old sell count > current sell count
      enabled: true
      type: "increase" # Types: increase, set, decrease
      maximum_price_change: 2.5 # Item's buy price can be decreased by maximum 5.0 coins with formula
  buy_price:
    formula: "%item_buy_price% * (0.02 * (%item_buy_amount% / 100) + 1) - %item_buy_price%" # New buy price formula -> This variation leads to an increaes in value, the more items are bought.
    minimum_buy_amount: 1
    high_supply: # If: "old buy count > current buy count" then the price will be adjusted relative to the old buy price by maximum_price_change value in %
      enabled: true
      type: "decrease" # Types: increase, set, decrease
      maximum_price_change: 5.0 # Item's buy price can be decreased by maximum 5.0 coins with formula
    high_demand: # current buy count > old buy count
      enabled: true
      type: "increase" # Types: increase, set, decrease
      maximum_price_change: 5.0 # Item's buy price can be decreased by maximum 5.0 coins with formula

# DON'T CHANGE THIS MANUALLY
file_versions: 4.7